/* sass variables */

body {
  background-image: url("/img/vegetables.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.common-content-block .row {
  background-color: #fafafa;
}

/*custom navbar styles*/

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: transparent;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #fff;
  height: 80px;
  line-height: 50px;
  text-shadow: 1px 1px 1px #000000;
}

.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fe6d0d;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-nav > li > .dropdown-menu {
  text-align: center;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  min-width: 100%;
  border-radius: 0px;
}

.navbar-nav > li > .dropdown-menu a {
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
}

.navbar-nav > li > .dropdown-menu a:hover,
.navbar-nav > li > .dropdown-menu a:focus {
  text-decoration: none;
  color: #fe6d0d;
}

/* languages flags */

ul.langs {
  display: block;
  width: 100%;
  text-align: left;
  height: auto;
  padding: 0px;
  margin: 0px;
}

ul.langs li {
  display: block;
  height: 30px;
  padding: 10px 0px;
  line-height: 30px;
  float: none;
  width: 100%;
}

.lng-flags {
  display: block;
  min-width: 100px;
}

.lng-flags span.flag-container {
  background-image: url("/img/flags_and_other.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 8px;
  margin-right: 5px;
  display: block;
  position: relative;
  top: 11px;
  float: left;
}

.dropdown-toggle.lng-flags span.flag-container {
  top: 21px;
}

.lng-flags span.lng-name {
  display: block;
  float: left;
}

.lng-flags span.flag-container.en {
  background-position: -65px -198px;
}

.lng-flags span.flag-container.ru {
  background-position: -65px -162px;
}

.lng-flags span.flag-container.ua {
  background-position: -26px -198px;
}

.navbar-nav > li > .dropdown-menu a {
  font-weight: bold;
  text-align: left;
  display: block;
  min-width: 140px;
}

.navbar-nav .dropdown-menu > li > a:hover {
  background-color: transparent;
}

.nav-link.dropdown-toggle.lng-flags i.fa-caret-down,
.user-links i.fa-caret-down {
  font-size: 12px;
}

/* languages flags end */

/* user links */

.nav-item.dropdown.user-links .dropdown-menu {
  text-align: left;
  padding-top: 15px;
}

.user-links i.fa-user,
.user-links i.fa-sign-in,
.user-links i.fa-user-plus,
.user-links i.fa-facebook,
.user-links i.fa {
  color: #73c900 !important;
  margin-right: 3px;
  font-size: 12px;
  position: relative;
  bottom: 1px;
  display: inline;
}

.user-links i.fa.fa-caret-down {
  color: #fff !important;
}

.user-links .nav-link:hover i.fa.fa-caret-down,
.user-links .nav-link:focus i.fa.fa-caret-down {
  color: #fe6d0d !important;
}

.navbar-nav > li.dropdown.user-links > .dropdown-menu a {
  line-height: 30px;
}

/* user links end */

/*custom navbar styles end*/

/*swiper on index page*/

.swiper-container.home-slider {
  width: 100%;
  height: 600px;
  border-bottom: 2px solid #73c900;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.home-slider .swiper-slide {
  height: 600px;
}

.home-slider .swiper-lazy.swiper-lazy-loaded {
  height: 600px;
  background-position: center center;
  background-size: cover;
}

.swiper-pagination-bullet {
  opacity: 0.8 !important;
}

.swiper-pagination-bullet-active {
  background-color: #73c900 !important;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  top: auto !important;
  bottom: 0px;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  -webkit-box-shadow: 2px 2px 2px #000;
          box-shadow: 2px 2px 2px #000;
}

/*slide captions*/

.slide-caption {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.slide-caption-content {
  color: #fff;
  font-size: 26px;
  text-shadow: 1px 2px 1px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
          box-shadow: 2px 2px 2px #000;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  text-align: center;
  border-bottom: none;
  border-left: none;
}

.c-text {
  display: inline-block;
  margin-bottom: 0px;
}

a.slider-link {
  display: inline-block;
  padding: 10px 25px;
  background-color: #fe6d0d;
  color: #fff;
  text-shadow: none;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #fe6d0d;
}

a.slider-link:hover,
a.slider-link:focus {
  text-decoration: none;
  border: 1px solid #fff;
}

/*slide captions end*/

/*swiper on index page end*/

/*social menu*/

#social-menu {
  top: 125px;
  position: absolute;
  left: 7px;
  z-index: 999;
}

#social-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#social-menu ul li a {
  display: block;
  width: 40px;
  height: 35px;
}

#social-menu ul li a.fb {
  background: url(/img/fb.png) center center no-repeat;
}

#social-menu ul li a.fb:hover {
  background: url(/img/fb_hover.png) center center no-repeat;
}

#social-menu ul li a.lin {
  background: url(/img/lin.png) center center no-repeat;
}

#social-menu ul li a.lin:hover {
  background: url(/img/lin_hover.png) center center no-repeat;
}

#social-menu ul li a.twt {
  background: url(/img/twt.png) center center no-repeat;
}

#social-menu ul li a.twt:hover {
  background: url(/img/twt_hover.png) center center no-repeat;
}

/*social menu end*/

/*index page content*/

.what-we-do {
  padding: 70px 0px 90px 0px;
  text-align: center;
  background-color: #fe6d0d;
  color: #fff;
  border-bottom: 2px solid #73c900;
}

.what-we-do p {
  font-size: 17px;
  margin-bottom: 0px;
}

/*index page content end*/

/*recipes*/

.our-recipes {
  background-color: #fe6d0d;
  color: #fff;
  padding: 90px 0px 90px 0px;
}

.our-recipes ul {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.our-recipes ul li {
  list-style-type: none;
}

.our-recipes hr {
  margin-top: 40px;
}

.main-image-container {
  text-align: center;
  background-color: #eee;
  border: 1px solid #555;
}

.main-image-container img {
  width: 100%;
  max-width: 500px;
}

.our-recipes.simple {
  background-color: #73c900 !important;
}

.our-recipes.breakfast {
  background-color: #6094cb !important;
}

/*recipes end*/

/*footer*/

footer {
  padding: 50px 0px 80px 0px;
  background-color: #000;
  position: relative;
}

.footer-brand-link {
  margin-bottom: 10px;
  color: #fff;
  font-size: 22px;
  display: block;
}

.footer-brand-link:hover,
.footer-brand-link:focus {
  text-decoration: none;
  color: #fff;
}

.copyrights {
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: normal;
  color: #fe6d0d;
  border-top: 1px solid #73c900;
  background-color: #000;
}

#_scrl_top {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #cecece;
  position: absolute;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  top: 2px;
  right: 0px;
  z-index: 9999;
}

#_scrl_top .fa-angle-up {
  color: #73c900;
  font-size: 25px;
  padding: 0px;
}

.footer-links ul {
  margin: 0px;
  padding: 0px;
}

.footer-links ul li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.footer-links ul li a {
  color: #fff;
  font-size: 17px;
}

.footer-links ul li a:hover,
.footer-links ul li a:focus {
  color: #fff;
}

/*footer end*/

/*main content*/

.main-content {
  padding-top: 100px;
}

/*main content end*/

.circ {
  width: 40px;
  vertical-align: middle;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
  margin-top: 5px;
}

.circ:hover {
  -webkit-box-shadow: 0 0 0 3px #f00;
          box-shadow: 0 0 0 3px #f00;
}

body.stop-scrolling {
  overflow: auto;
}

.custom-alert {
  position: absolute;
  top: 80px;
  width: 100%;
  padding: 10px;
  color: #000088;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  z-index: 99;
  line-height: 15px;
  font-weight: bold;
}

#social-menu ul li a {
  color: #d70d0d;
}

#chat-room-container {
  padding: 90px 0px 90px 0px;
  background-image: url("/img/chat_back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #02752d;
  min-height: 700px;
}

.chat-main-container {
  margin-left: 20px;
}

.chat-main-container h2 {
  color: #fff;
}

.participants-main-container h2 {
  color: #fff;
}

.participants-main-container ul {
  margin: 0px;
}

.participants-main-container ul li {
  text-decoration: underline;
  color: #fff;
}

.chat-log {
  height: 400px;
  overflow-y: auto;
  background-color: #fff;
  padding: 15px;
}

.chat-message {
  text-align: right;
}

.chat-message p {
  margin-bottom: 0px;
  text-align: left;
  border-bottom: 1px dashed #eee;
  font-weight: bold;
}

.common-content-block {
  padding: 90px 0px 90px 0px;
}

@media (max-width: 767px) {
  .chat-main-container {
    margin-left: 0px;
  }
}

